@using DP.FacadeDesignPattern.DAL;
@model List<Product>

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h1>ProductList</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyatı</th>
        <th>Stok</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.ProductStock</td>
            <td>@item.ProductCategory</td>
        </tr>
    }
</table>
<a href="/Product/AddNewProduct/" class="btn btn-info">Ekle</a>